body{
    size: 17px;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.header {
  width: 100%;
  display: flex;
  background-color: white;

}

.my-photo {
  width: 17%;
  
}
.circuloImg{
    border-radius: 50%;
}
.my-photo img {
  width: 100%;
}

.header-content {
  width: 60%;
  margin: 20px;
}
.header-content-name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: left;
    font-style: oblique;
    color: black;
    padding-left: 30px;
}
.header-content-description{
    font-size: 25px;
    font-style: oblique;
    text-align: center;
    color: black;
    margin-right: 100px;
}
.section{
    font-size: 20px;
    color: black;
    margin-left: 20px;
}
.buttonmargin{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
section {
  margin: 10px;
}

.section-header {
  cursor: pointer;
}
.salou{
    text-decoration: none;
    color: white;
}

.experience,
.studies,
.datos {
  display: none;
  margin-left: 60px;
}
button:hover{
    color: teal;
}

.active {
  display: block;
  background-color: white;
  margin-left: 30px;
}
.list{
    list-style: none;
}
.listitem{
    font-size: 14px;
    color: black;
    margin-top: 7px;
}
.footer{
    background-color: white;
    height: 80px;
    background-position-y: bottom;
}
.footerdiv{
    font-size: 12px;
    color: black;
    padding-top: 1px;
    margin-left: 10px;
}
.social-button{
    text-decoration: none;
    font-size: 12px;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
}
    .social-button-hover:hover{
        color: teal;
        text-decoration: underline solid black;
    }